.mainContent {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  width: 80%;

  .img {
    margin-bottom: 2em;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    text-align: start;

    h2 {
      font-size: 3em;
      color: #1e3d58;
      padding: 10px 10px 0 0;
    }

    p {
      font-size: 1.5em;
      color: #8a8a8a;
      padding: 0 10px 10px 0;
    }

  }
}
